.nav {
    grid-area: n;
    background-color: cornflowerblue;
    padding: 20px;
}

.item{
    color: white;
    text-decoration: none;
}

.item.active{
    color: indigo;
}

.itemFriend {
    font-size: 30px;
    color: white;
    padding-top: 400px;
}

.friendIkons img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    padding: 4px;
}